CVS
RCS
.svn
target
build
DerivedData

.classpath
.project
.settings
.metadata

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/datasources.xml
.idea/dataSources.ids
.idea/libraries
.idea/gradle.xml

*.class
*.o
*.com
*.class
*.dll
*.exe
*.o
*.so

*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.metadata
